*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 1em;
    font-size: 16px;
    display: block;
    flex-direction: row;
    position: relative;
}

header {
    display: flex;
    flex-direction: wrap;
}

.hero {
    height: 17vh;
    width: 100%;
    background-image: linear-gradient(to right, black, grey);
    display: flex;
    flex-direction: column;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 4%;
    padding-right: 8%;
    flex: 2 1 auto;
}

.logo {
    color: white;
    font-size: 45px;

}

.logo span {
    color: #f9004d;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 20px;
    padding: 5px 15px;
    border-bottom: solid 2px white;
    
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
  
}

nav ul li a:hover {
    color: #f9004d;
    transition: .6s;
}

.main-container {
    display: flex;
    flex-direction: row;
}

.aside-left {
    margin-top: 75px;
    width: 752px;
    display: flex;
    justify-content: end;
    padding-right: 0px;
    font-size: 50px;
    flex-wrap: wrap;
}

.aside-right {
    flex: 1;
    padding-top: 31px;
    padding-left: 68px;
    padding-right: 114px;
    margin: 32px;
    border-left: blue solid 5px;
    border-radius: 5px;
    margin-top: 10px;
}
    
.aside-left h2 {
    text-align: right;
    padding-right: 10px;
}

.aside-right p  {
    margin-bottom: 20px;
}

.image-container {
    flex: 2 1 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 50px;
}

.work-card {
    position: relative;
    border: solid 3px #005e72;
    border-width: 9px;
    padding: 0px;
    flex: 0 0 500px;
    margin: 20px;
}

.work-card-title {
    background-color: #005e72;
    color: white;
    padding: 18px 63px;
    position: absolute;
    bottom: 12px;
    right: 317px;
    border-radius: 14px;
}

img {
    width: 100%;
    height: auto;
}

.work-card {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;    
}

.work-card:hover {
    filter: grayscale(0%);
filter: gray;
-webkit-filter: grayscale(0%);
filter: none;
transition: 1s ease;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 4%;
    padding-right: 8%;
}

.foot {
    list-style-type: none;
    display: inline-block;
    font-size: 20px;
    padding: 35px 63px;
    border-bottom: solid 2px white;
}

.foot:hover {
    color: #f9004d;
    transition: .6s;
}

.foot-center {
    text-align: center;
}




/* width 100%
    height auto */

    @media screen and (max-width: 992px) {
        body, .main-container, .aside-left, .aside-right, .aside-left h2 {
          width: 100%;
          flex-direction: column;
        }
        /* Change the header color */
        header {
          background: #772014;
        }
      }



/* @media screen and (max-width: 768px) {
  body {
    background-color: #bb8588;
    flex: wrap;
    flex-direction: column;
  }
} */